dist
.pybuild
.bzr
build/
debian/.debhelper/
debian/debhelper-build-stamp
debian/dell-recovery-bootloader.substvars
debian/dell-recovery-bootloader/
debian/dell-recovery-casper.substvars
debian/dell-recovery-casper/
debian/dell-recovery.postinst.debhelper
debian/dell-recovery.postrm.debhelper
debian/dell-recovery.prerm.debhelper
debian/dell-recovery.substvars
debian/dell-recovery/
debian/files
debian/tmp/
secure_boot/MokSBStateSet.efi
.vscode
