[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Create Dell Recovery Media
Type=Application
Terminal=false
Name[en_US]=Create Dell Recovery Media
Exec=su-to-root -X -c /usr/bin/dell-recovery-media
Icon=/usr/share/images/dell/dell-dvd.png
Categories=System;Settings

