Package: dell-recovery
Version: 0.1
Architecture: all
Maintainer: Mario Limonciello <mario_limonciello@dell.com>
Installed-Size: 76
Depends: menu
Section: graphics
Priority: optional
Description: Dell DVD Recreation Package
 This package is used to produce a Dell recovery DVD image.
