ACTION!="add|change", GOTO="dell_rp_end"
SUBSYSTEM!="block", GOTO="dell_rp_end"

#Factory shipped Dell linux boxes will always have
#the second partition as a vfat with label "OS" or "install"
#shouldn't clash with windows factory shipped systems
#which may have "OS" as the third partition

ENV{ID_FS_TYPE}=="vfat", ENV{ID_FS_LABEL}=="OS|install", ENV{DKD_PARTITION_NUMBER}=="2", ENV{DKD_PRESENTATION_HIDE}="1", ENV{UDISKS_PRESENTATION_HIDE}="1"

LABEL="dell_rp_end"

